@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<btTuan2.Models.Movie>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>
<form asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="searchString" value="@ViewBag.CurrentFilter"  />
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TitleSortParm" asp-route-searchString="@ViewBag.CurrentFilter">Title</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSortParm" asp-route-searchString="@ViewBag.CurrentFilter">Release Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.GenreSortParm" asp-route-searchString="@ViewBag.CurrentFilter">Genre </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSortParm" asp-route-searchString="@ViewBag.CurrentFilter">Price</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter }))
</div>
